@import url("https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Qwigley&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,600;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Source Sans 3", sans-serif;
  color: white;
  background-color: #2e364a;
}
.container {
  max-width: 90rem;
  margin: 2rem auto;
  padding: 0px 2rem;
}
.header {
  padding: 2rem;
  margin: 1rem 0px;
  text-align: center;
}
.header > .title {
  margin-bottom: 1rem;
  font-size: 3.5rem;
  font-weight: 700;
}
.tribute {
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 78rem;
  margin: 0px auto;
  background-color: #eeedeb;
  color: black;
  align-items: center;
  padding: 0px 0px 0px 1rem;
}
.tribute blockquote {
  text-align: center;
  font-size: 3rem;
  font-family: "Arapey", serif;
}
.tribute img {
  max-width: 90%;
}
.bio {
  margin: 2rem auto;
  padding: 0px 0.5rem;
  max-width: 40rem;
}
.bio > h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  line-height: 1.2;
  text-align: center;
  font-weight: 700;
}
.bio > p {
  font-size: 1.5rem;
  line-height: 1.4;
}

.bio > hr {
  margin-top: 2rem;
}
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
}
.timeline__heading {
  margin-top: 1rem;
  font-size: 2rem;
  line-height: 1.2;
  text-align: center;
  font-weight: 700;
}

.timeline__container {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  animation: movebox 1s linear forwards;
  opacity: 1;
}
.text__box {
  padding: 20px 30px;
  background-color: #eeedeb;
  color: black;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
}
.left__container {
  left: 0;
}
.right__container {
  left: 50%;
}
.timeline__container img {
  position: absolute;
  width: 40px;
  border-radius: 50%;
  right: -70px;
  top: 32px;
  z-index: 10;
}
.right__container img {
  left: -70px;
}
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: #eeedeb;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 6s linear forwards;
}
